@font-face {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 400;
  src: local('Consolas'), url(https://fonts.gstatic.com/l/font?kit=a4W9U6Q-d734BtAWI52FpnYhjbSpvc47ee6xR_80Hnw&skey=3d1eb1871fcc58a1) format('woff2');
}
