@font-face {
  font-family: 'Courier New';
  font-style: normal;
  font-weight: 400;
  src: local('Courier New'), local('CourierNewPSMT'), url(https://fonts.gstatic.com/l/font?kit=p0pJArTTK5Heq6xbYtNwnogp9Q8gbYrhqGlRav_IXfk&skey=e2fc0b95199b08bc) format('woff2');
}
